@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 1.75vmax;
  }
}

body {
  font-family: "Play", "Alegreya Sans", sans-serif;
  color: #292929;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.9375rem;
  padding-right: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-right: 0;
  }
}

.menu {
  font-family: Alegreya Sans;
  padding-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #313131;
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu--active {
    left: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__link {
  text-decoration: none;
  font-size: 1.125rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 2.25rem;
  }
}

.menu__item {
  margin-right: 1.625rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0rem;
}
.menu__item:hover {
  color: #E01F3D;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
  }
}

.logo {
  display: block;
  margin-right: 2.375rem;
}

.logo__pic {
  width: 2.5rem;
  height: 2.5rem;
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .contacts {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts {
    text-align: center;
  }
}

.contacts__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .contacts__icon-elem {
    width: 0.75rem;
    height: 0.75rem;
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__icon-elem {
    width: 0.75rem;
    height: 0.75rem;
    fill: #000;
  }
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.125rem;
}

.contacts__text {
  white-space: nowrap;
}

.contacts__place {
  color: #292929;
  font-size: 18px;
  margin-bottom: 0.1875rem;
}
@media screen and (max-width: 768px) {
  .contacts__place {
    margin-bottom: 0.25rem;
    font-size: 1.40625rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts__place {
    font-size: 1.3125rem;
  }
}

@media screen and (max-width: 768px) {
  .contacts .header__contacts__phone {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0rem 3.125rem 0rem;
  background: url("../../img/headphones.png") right center/30.625rem no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    padding: 1.5rem 0rem 5.625rem 0rem;
  }
}
.hero__container::before {
  content: url("../../img/sticker.png");
  position: absolute;
  bottom: -1.5625rem;
  right: 2.5rem;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
}

@media screen and (max-width: 768px) {
  .hero__content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__content::before {
    content: "";
    width: 21.25rem;
    height: 21.25rem;
    background: url("../../img/headphones.png") center center/contain no-repeat;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__content {
    width: 100%;
    -webkit-box-flex: 0.65;
        -ms-flex: 0.65;
            flex: 0.65;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__content::before {
    content: "";
    width: 23.125rem;
    height: 23.125rem;
    background: url("../../img/headphones.png") center top/contain no-repeat;
    margin-bottom: 3.0625rem;
  }
}

.hero__title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.3125rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 3.1875rem;
    margin-bottom: 0.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    max-width: 371px;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }
}

.hero__subtitle {
  font-size: 1.3125rem;
  margin-bottom: 2.25rem;
  padding-right: 5%;
  font-family: Alegreya Sans;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 1.40625rem;
    max-width: 371px;
    margin: 0 auto 1.4375rem;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    margin: 0 auto 1.625rem;
  }
}

.hero__text-section {
  max-width: 38%;
}
@media screen and (max-width: 768px) {
  .hero__text-section {
    max-width: 86%;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__text-section {
    max-width: 100%;
  }
}

.hero__icons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.375rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.btn {
  background: #E01F3D;
  font-weight: bold;
  color: #FFFFFF;
  padding: 1.1875rem 2.625rem;
  text-decoration: none;
  border-radius: 3.125rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  line-height: 1;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn {
    padding: 1.25rem 2.625rem;
    font-size: 1.4375rem;
  }
}
.btn:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  margin-left: 0.9375rem;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
  background: transparent;
}

@media screen and (max-width: 480px) {
  .btn__products {
    padding: 1.3125rem 2.5625rem;
    font-size: 1rem;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__desc-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__pic {
  margin-right: 1rem;
  width: 2.5rem;
}

.features__item {
  margin-right: 0.875rem;
}
.features__item:last-child {
  margin-right: 0rem;
}

.feature__desc {
  max-width: 6.25rem;
}

.pager {
  position: fixed;
  right: 15.1875rem;
  top: 14.25rem;
}

.pager__list {
  position: relative;
}

.pager__item {
  margin-bottom: 1.125rem;
}
.pager__item:last-child {
  margin-bottom: 0;
}
.pager__item:hover {
  background-image: url("/img/Ellipse 2.png");
}

.section {
  height: 100vh;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3.3125rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.08;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 2.0625rem;
    font-size: 3.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.3125rem;
    margin-bottom: 2.625rem;
  }
}

.section-products .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.625rem;
}

.headline__subtitle {
  color: #666666;
  margin-bottom: 3.875rem;
  padding: 0 21%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 16%;
    font-size: 1.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
    font-size: 1.125rem;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  height: 7.8125rem;
  width: 7.8125rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .benefit__image-wrapper {
    margin-bottom: 1.4375rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    height: 8.75rem;
    width: 8.75rem;
    margin-right: 0.9375rem;
    margin-bottom: 0;
  }
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
}

.benefit__desc {
  color: #666666;
  padding: 0 4%;
  line-height: 1.15;
}
@media screen and (max-width: 768px) {
  .benefit__desc {
    padding: 0 0%;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding: 0.875rem 0 0 0;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 2.1875rem;
  }
}
.benefits__item:before {
  content: url("../../img/roundshape.png");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.9375rem;
  padding: 2.625rem 9.25rem 3.25rem 2.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.6875rem 1.6875rem 2.6875rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    margin-bottom: 2.375rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  height: 5.625rem;
  width: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.0625rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.75rem;
  height: 15.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.25rem;
    height: 8.25rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    width: 9.1875rem;
    height: 9.375rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  padding-top: 1.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-left: 0;
    padding-top: 2rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    padding-top: 1.40625rem;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 1.8125rem;
    margin-bottom: 0.5rem;
  }
}

.reviews__text {
  color: #666666;
  margin-bottom: 2.375rem;
  line-height: 1.15;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    font-size: 1.15625rem;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  .reviews__author {
    font-size: 1.1875rem;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-bottom: 11.25rem;
  }
}

.reviews__main-title {
  margin-bottom: 2rem;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.375rem;
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 5.5625rem;
    height: 5.5625rem;
    margin: 0;
  }
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 1rem;
  }
}
.form__row--textarea {
  margin-bottom: 1.9375rem;
}
@media screen and (max-width: 768px) {
  .form__row--textarea {
    margin-bottom: 1.59375rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 0.1875rem;
    font-size: 1.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .form__title {
    margin-bottom: 0.3125rem;
  }
}

.form__input {
  width: 100%;
  border: 0.1875rem solid transparent;
  padding: 1.125rem 0.75rem;
  border-radius: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.40625rem 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    height: 2.5rem;
  }
}
.form__input--textarea {
  height: 9.625rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    height: 5.6875rem;
  }
}
.form__input .form__input .input-error {
  border-color: #E01F3D;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 1.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.875rem;
  }
}
.form__controls--margin-bottom--increase {
  margin-bottom: 1.9375rem;
}
@media screen and (max-width: 768px) {
  .form__controls--margin-bottom--increase {
    margin-bottom: 2.6875rem;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
  }
}

@media screen and (max-width: 480px) {
  .form__submit {
    font-size: 1.1875rem;
  }
}

.order-section {
  color: #fff;
  background: url("../../img/formbackground.png") center center no-repeat;
  background-color: #181818;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5rem;
}
.radio--checkbox .radio__visible {
  border-radius: 15%;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/done.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  height: 0.8125rem;
  width: 0.8125rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .radio__title {
    font-size: 1.1rem;
  }
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: #666666;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fixed-menu__link--color--red::before {
  background: #E01F3D;
}

.hamburger {
  width: 26px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 768px) {
  .hamburger--active .hamburger__plank {
    background: white;
  }
  .hamburger--active .hamburger__plank:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
            transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger--active .hamburger__plank:nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  .hamburger--active .hamburger__plank:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hamburger--active .hamburger__plank:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7px, 6px);
            transform: rotate(45deg) translate(7px, 6px);
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 30px;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem 0;
  background: #fff;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__col {
    padding: 0.125rem;
  }
  .footer__col--align--right {
    padding: 0.125rem;
    padding-right: 1.5625rem;
  }
}
.footer__col--align--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .footer__col--align--right {
    padding-right: 2.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__col:first-child {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__contacts__phone {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts__phone {
    color: #000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.map-section {
  background: url("../../img/map.jpg") center center/cover no-repeat;
  position: relative;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: -1.25rem;
}

.socials__item {
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .socials__item {
    margin-right: 0.875rem;
  }
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  fill: #B3B3B3;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
@media screen and (max-width: 768px) {
  .socials__icon {
    width: 2.15625rem;
    height: 2.15625rem;
  }
}
@media screen and (max-width: 480px) {
  .socials__icon {
    width: 1.8125rem;
    height: 1.8125rem;
  }
}
.socials__icon:hover {
  fill: #000;
}

.products__container::before {
  content: url("../../img/redtriangle.png");
  position: absolute;
  top: -14.5625rem;
  left: -2rem;
}

.product__slider-arrow {
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  top: 40%;
}
@media screen and (max-width: 768px) {
  .product__slider-arrow {
    top: 9.375rem;
  }
}
@media screen and (max-width: 480px) {
  .product__slider-arrow {
    top: 8.125rem;
  }
}
.product__slider-arrow--direction--left {
  left: -3.125rem;
}
@media screen and (max-width: 768px) {
  .product__slider-arrow--direction--left {
    left: 6.875rem;
  }
}
@media screen and (max-width: 480px) {
  .product__slider-arrow--direction--left {
    left: 0;
  }
}
.product__slider-arrow--direction--right {
  right: 0.1875rem;
}
@media screen and (max-width: 768px) {
  .product__slider-arrow--direction--right {
    right: 6.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .product__slider-arrow--direction--right {
    right: 0;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__block {
  margin-right: 3.75rem;
  width: 28.25rem;
  height: 28.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .products__block {
    margin-right: 0;
    width: 19.125rem;
    height: 19.125rem;
  }
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .products__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.section-products {
  background: #F8FAF9;
}

.products__header {
  margin-bottom: 1.5625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.products__header:hover .dropdown__menu {
  opacity: 1;
  left: 100%;
}

@media screen and (max-width: 768px) {
  .products__picture {
    margin-bottom: 3.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .products__picture {
    margin-bottom: 1.625rem;
  }
}

.products__icon {
  width: 5.6875rem;
  height: 5.6875rem;
  fill: #9A9A9A;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
  position: relative;
  cursor: pointer;
}
.products__icon:hover {
  fill: #6E6E6E;
}
@media screen and (max-width: 768px) {
  .products__icon {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .products__icon {
    display: none;
  }
}

.products__title {
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .products__title {
    margin-bottom: 0.875rem;
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 480px) {
  .products__title {
    margin-bottom: 0.8125rem;
    font-size: 1.75rem;
    padding: 0 7%;
  }
}

.products__text {
  margin-bottom: 1.5rem;
  padding-right: 3.125rem;
}
@media screen and (max-width: 768px) {
  .products__text {
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .products__text {
    margin-bottom: 1.375rem;
  }
}

.products__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .products__desc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .products__desc {
    margin-bottom: 1.375rem;
  }
}

@media screen and (max-width: 480px) {
  .products__desc-title {
    text-align: left;
  }
}

.products__main-content {
  color: #666666;
}

.products__desc-cell {
  margin-right: 5.375rem;
}
.products__desc-cell:last-child {
  margin-right: 0;
}

.products__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .products__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__desc-hours {
  font-size: 1.125rem;
  color: #000;
  font-weight: bold;
}

.products__price {
  color: #151515;
  font-size: 2.25rem;
  margin-right: 0.8125rem;
}
@media screen and (max-width: 768px) {
  .products__price {
    font-size: 2.5rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .products__price {
    font-size: 1.875rem;
    margin-right: 1.25rem;
  }
}

.dropdown__menu {
  width: 17.5rem;
  background: #D5D5D5;
  color: #000000;
  border-radius: 5px;
  position: absolute;
  top: -0.0625rem;
  opacity: 0;
  left: -624.9375rem;
}

.dropdown__list {
  padding: 1.75rem 1.5625rem 2.125rem 1.625rem;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.875rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  text-align: center;
}
.dropdown__icon--bluetooth {
  width: 1.5625rem;
  height: 1.5625rem;
}

.dropdown__text {
  margin-right: 3.1875rem;
}

.dropdown__number {
  margin-left: auto;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  margin-right: 1.25rem;
  position: relative;
  text-align: center;
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  width: 13.75rem;
  height: 18.125rem;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .team__member {
    margin: 0 auto 1.5625rem auto;
  }
}

.team__content {
  text-align: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  left: 0;
  width: 100%;
}

.team__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.team__subtitle {
  color: #000;
  margin-bottom: 0.25rem;
}

.team__text {
  color: #666666;
}
.team__text--wide {
  padding: 0 18%;
}

.modal {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 2.3125rem 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 1.125rem;
  color: #000;
}

.error-modal {
  color: red;
}