@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
body {
  font-family: "Play", "Alegreya Sans", sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
body html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 79px;
}

.menu {
  margin-right: 46px;
  font-family: Alegreya Sans;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
}

.menu__item {
  margin-right: 28px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__item:hover {
  color: #E01F3D;
}

.logo {
  display: block;
  margin-right: 38px;
}

.contacts__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 652px;
  padding: 24px 0px 50px 0px;
}

.hero {
  background: url("../../img/headphones.png") left 58% bottom 71%/30% auto no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
}

.hero__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 21px;
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 5%;
  font-family: Alegreya Sans;
  line-height: 1;
}

.hero__text-section {
  max-width: 30%;
}

.hero__icons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.hero-section:before {
  content: url("../../img/sticker.png");
  position: absolute;
  bottom: -25px;
  right: 270px;
}

.btn {
  background: #E01F3D;
  font-weight: bold;
  color: #FFFFFF;
  padding: 19px 42px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  line-height: 1;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  margin-left: 15px;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
  background: transparent;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__desc-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__pic {
  margin-right: 22px;
  width: 35px;
}

.features__item {
  margin-right: 8px;
}
.features__item:last-child {
  margin-right: 0px;
}

.feature__desc {
  max-width: 100px;
}

.pager {
  position: fixed;
  right: 243px;
  top: 228px;
}

.pager__list {
  position: relative;
}

.pager__item {
  margin-bottom: 18px;
}
.pager__item:last-child {
  margin-bottom: 0;
}
.pager__item:hover {
  background-image: url("/img/Ellipse 2.png");
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 53px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  color: #666666;
  margin-bottom: 62px;
  padding: 0 25%;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  height: 125px;
  width: 125px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 24px;
}

.benefit__desc {
  color: #666666;
  padding: 0 15%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../../img/roundshape.png");
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.reviews__display::before {
  content: "";
  display: block;
  height: 90px;
  width: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 254px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 27px;
}

.reviews__text {
  color: #666666;
  margin-bottom: 38px;
  width: 58%;
}

.reviews__author {
  font-weight: bold;
  font-size: 18px;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 6px;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 18px 12px;
  border-radius: 5px;
}
.form__input--textarea {
  height: 154px;
  resize: none;
  margin-bottom: 36px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-section {
  color: #fff;
  background: url("../../img/formbackground.png") center center no-repeat;
  background-color: #181818;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 24px;
  margin-bottom: 16px;
}
.radio--checkbox .radio__visible {
  border-radius: 15%;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/done.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  height: 13px;
  width: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #666666;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fixed-menu__link--color--red::before {
  background: #E01F3D;
}