// .benefits-section:before {
//  content: url('../../img/triangle.png');
//  position: absolute;
//  bottom: rem(-80px);
//  left: 0;
// }
.benefits {
  display: flex;

  @include phones {
   flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(31px);
  }

  &:before {
    content: url("../../img/roundshape.png");
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);

    @include phones {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}