.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  height: rem(125px);
  width: rem(125px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(19px);
  flex-shrink: 0;

  @include tablets {
    margin-bottom: rem(23px);
  }

  @include phones {
    height: rem(140px);
    width: rem(140px);
    margin-right: rem(15px);
    margin-bottom: 0;
  }
}
.benefit__icon {
  width: rem(60px);
  height: rem(60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__title {
  font-weight: bold;
  font-size: rem(24px);
  margin-bottom: rem(3px);

  @include tablets {
    margin-bottom: rem(15px);
  }

  @include phones {
    font-size: rem(28px);
    margin-bottom: rem(8px);
  }
}
.benefit__desc {
  color: #666666;
  padding: 0 4%;
  line-height: 1.15;

  @include tablets {
    padding: 0 0%;
  }
}
.benefit__text {

  @include phones {
    padding: rem(14px) 0 0 0;

  }
  
}