.btn {
  background: #E01F3D;
  font-weight: bold;
  color: #FFFFFF;
  padding: rem(19px) rem(42px);
  text-decoration: none;
  border-radius:rem(50px);
  text-transform: uppercase;
  display: inline-block;
  transition: background 0.5s;
  line-height: 1;
  border: none;
  cursor: pointer;

  &:hover {
    background: #CA1B36;
  }

  &--theme--transparent {
    background: transparent;
    font-weight: normal;
    text-transform: none;
    padding: 0;
    transition: color 0.5s;
    margin-left: rem(15px);

    &:hover {
      color: #E01F3D;
      background: transparent;
    }
  }
}