.contacts__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}
.contacts__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: rem(18px);
}