.features {
 display: flex;
}
.feature__desc-cell {
  display: flex;
}
.feature__pic {
  margin-right: rem(16px);
  width: rem(40px);
  
}
.features__item {
  margin-right: rem(14px);

  &:last-child {
    margin-right: rem(0px);
  }
}
.feature__desc {
  max-width: rem(100px);
}