.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: rem(5px);
  &--active{
    .fixed-menu__link {
      border-color: #E01F3D;
    }
  }
}
.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1.rem(5px) solid transparent;
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: rem(6px);
    height: rem(6px);
    background: #666666;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--color--red {
    &::before {
      background: #E01F3D;
    }
  }
}