.form {
  display: flex;
}
.form__col {
  flex: 1;
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 11px;

  &--textarea {
    margin-bottom: 31px;
  }
}
.form__block {
  flex: 1;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}
.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 18px 12px;
  border-radius: 5px;

  &--textarea {
    height: 154px;
    resize: none;
  }

  &:focus {
    border-color:  #E01F3D;
    outline: none;
  }
}
.form__controls {
  display: flex;
  flex-wrap: wrap;

  &--margin-bottom--increase {
    margin-bottom: 31px;
  }
}
