.form {
  display: flex;
 
  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: rem(11px);

  &--textarea {
    margin-bottom: rem(31px);
  }

  @include tablets {
    margin-bottom: rem(28px);
  }

  @include phones {
    margin-bottom: rem(14px);
  }
}
.form__block {
  flex: 1;
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}
.form__title {
   @include tablets {
     margin-bottom: rem(3px);
   }

   @include tablets {
    margin-bottom: rem(5px);
    font-size: rem(19px);
  }
}
.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  padding: rem(18px) rem(12px);
  border-radius: rem(5px);

  @include phones {
    height: rem(40px);
  }

  &--textarea {
    height: rem(154px);
    resize: none;

    @include tablets {
      height: rem(82px);
    }

    @include phones {
      height: rem(100px);
    }
  }

  &:focus {
    border-color:  #E01F3D;
    outline: none;
  }

  @include tablets {
    padding: rem(8px) rem(10px);
  }
}
.form__controls {
  display: flex;
  flex-wrap: wrap;

  &--margin-bottom--increase {
    margin-bottom: rem(31px);
  }

  @include phones {
    justify-content: center;
    margin-bottom: rem(20px);
  }
}
.form__btns {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}
