.form {
  display: flex;
}
.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: rem(11px);

  &--textarea {
    margin-bottom: rem(31px);
  }
}
.form__block {
  flex: 1;
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}
.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  padding: rem(18px) rem(12px);
  border-radius: rem(5px);

  &--textarea {
    height: rem(154px);
    resize: none;
  }

  &:focus {
    border-color:  #E01F3D;
    outline: none;
  }
}
.form__controls {
  display: flex;
  flex-wrap: wrap;

  &--margin-bottom--increase {
    margin-bottom: rem(31px);
  }
}
