.header {
  display: flex;
  align-items: center;
  margin-bottom: rem(79px);
  padding-right: rem(25px);

  @include tablets {
    margin-bottom: 0;
  }

  @include phones {
    padding-right: 0;
  }
}
