.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: rem(10px);
}
.headline__subtitle {
  color: #666666;
  margin-bottom: rem(62px);
  padding: 0 21%;
  line-height: 1.2; 

  @include phones {
    padding: 0 5%;
  }
}