.menu {
  margin-right: rem(46px);
  font-family: Alegreya Sans;

  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
  font-size: rem(18px);
}
.menu__item {
  margin-right: rem(28px);
  transition: color 0.5s;

  &:last-child {
    margin-right: rem(0px);
  }
  &:hover {
    color: #E01F3D;
  }
}