.pager {
  position: fixed;
  right: rem(243px);
  top:rem(228px);
}
.pager__list {
  position: relative;
}
.pager__item {
  margin-bottom: rem(18px);

  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-image:url('/img/Ellipse\ 2.png')
  }
}