.socials {
  display: flex;
  position: relative;
  right: rem(-20px);
}
.socials__item {
  margin-right: rem(10px);

  @include phones {
    margin-right: rem(14px);
  }

  &:last-child {
    margin-right: 0;
  }
}
.socials__icon {
  display: block;
  width: rem(30px);
  height: rem(30px);
  fill: #B3B3B3;
  transition: fill 0.5s;
  
  @include tablets {
    width: rem(34.5px);
    height: rem(34.5px);
  }

  @include phones {
    width: rem(29px);
    height: rem(29px);
  }

  &:hover {
    fill: #000;
  }
}