.team {
  display: flex;

  &--version--desktop {
    .team__content{
      position: absolute;
      top: 100%;
    }

    @include tablets {
      display: none;
    }
  }

  &--version--mobile {
    display: none;

    @include tablets {
      display: flex;
    }
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}
.team__item {
  margin-right: rem(20px);
  position: relative;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}
.team__member {
  width: rem(220px);
  height: rem(290px);
  margin-bottom: rem(25px);

  @include tablets {
    margin: 0 auto rem(25px) auto;
  }
}
.team__content {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height .3s;
  left: 0; 
  width: 100%;
}
.team__title {
  display: inline-flex;
  font-size: rem(18px);
  font-weight: bold;
  margin-bottom: rem(11px);
  justify-content: center;
  align-items: center;
  border: none; 
  background: transparent;
  cursor: pointer;
}
.team__subtitle {
  color: #000;
  margin-bottom: rem(4px);
}
.team__text {
  color: #666666;

  &--wide {
    padding: 0 18%;
  }
}